body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(230, 196, 230);

}

h1 {
    font-size: 250%;
    text-align: center;
    color: purple;
}

main {
    background-color: plum;
    padding: 20px;
    width: 22%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 12%;
}

.pagInicial {
    border-collapse: collapse;
    display: table;
    box-sizing: border-box;
    unicode-bidi: isolate;
    align-items: center;
}

td, th {
    color: plum;    
    font-size: 150%;
    padding: 5px 5px;
    border: 5px solid rgb(177, 70, 177);
    background-color: rgb(177, 70, 177);
    text-align: center;
}

.tituloTable {
    border: 5px solid purple;
    background-color: purple;
}

a {
    color: purple;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    text-shadow:0px 0px 5px plum;
}

footer {
    text-align: center;
    font-size: 95%;
    color: purple;
    margin-top: auto;
}