* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.pagInicial {
    width: 50%;
    border-collapse: collapse;
    font-size: 15px;
    display: table;
    box-sizing: border-box;
    unicode-bidi: isolate;
}

td, th {
    color: white;
    padding: 5px 10px;
    border: 5px solid rgb(177, 70, 177);
    background-color: rgb(177, 70, 177);
    text-align: center;
}

.tituloTable {
    border: 5px solid purple;
    background-color: purple;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
