*{
    background-color:  rgb(243, 139, 243);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.pagInicial{
    border-collapse: collapse;
    display: table;
    box-sizing: border-box;
    unicode-bidi: isolate;
    align-items: center;
} 

td, th{
    color: darkmagenta;
    padding: 5px 5px;
    border: 5px solid darkmagenta;
    font-size: 150%;
}

h1 {
    text-align: center;
    color: darkmagenta;
    font-size: 300%;
}

h2 {
    text-align: center;
    color: rgb(184, 37, 184);
    font-size: 150%;
}

footer{
    color: darkmagenta;
    padding: 3px;
    text-align: center;
    margin-top: 9%;
}

h4{
    font-size: 100%;
}

li{
    display: list-item;
    margin: 5px;
    list-style: none;
    color: darkmagenta;
}

a{
    color: rgb(206, 22, 206);
    text-decoration: none;
}

a:hover{
    text-shadow: 0px 0px 5px darkmagenta;
}

p{
    text-align: center;
    margin-top: auto;
    font-size: 95%;
    color: darkmagenta;
}

main {
    padding: 5px;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 12%;
}