header {
    background-color: purple;
    text-align: center;
    font-size: 100%;
    color: white;
}

h2 { 
    text-align: center;
    font-size: 97%;
    color: rgb(153, 39, 153);
}

p {
    color: black;
}

* {    
    margin: 10px;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    background-color: purple;
    color: rgb(224, 167, 224);
    text-align: center;
}

img {
    width: 55%;
    height: 55%;
    border-radius: 12%;
    border: 5px solid purple;
    padding: 10px;
    position: relative;
    left: 21%;
}

body {
    background-color: rgb(243, 203, 243);
}

a {
    display: block;
    text-align: center;
    background-color: plum;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: purple;
    padding: 8px 15px;
    border-radius: 20px;
    width: max-content;
    margin: auto;

}

a:hover {
    font-size: 15px;;
}

.rodape {
    text-align: center;
    background-color: plum;
    padding: 8px 15px;
    border-radius: 10px;
    display: flex;
    width: max-content;
    align-items: left;
    justify-content: center;
    text-decoration: none;
    color: purple;
    margin-top: 5%;
}

h5 {
    color: rgb(243, 203, 243);
}
