* {    
    margin: 10px;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
};

body {
    background-color: rgb(243, 203, 243);
};

header {
    background-color: purple;
    text-align: center;
    font-size: 100%;
    color: white;
    bottom: auto;
};

h5 {
    color: rgb(224, 167, 224);
};

h2 { 
    text-align: center;
    font-size: 17px;
    color: rgb(190, 90, 190);
};

h3 {
    background-color: purple;
    color: rgb(224, 167, 224);
    text-align: center;
};

p {
    color: black;
};

a {
    display: block;
    text-align: center;
    background-color: plum;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: purple;
    padding: 8px 15px;
    border-radius: 20px;
    width: max-content;
    margin: auto;
};

a:hover {
    font-size: 16px;
};

img {
    width: 55%;
    height: 55%;
    border-radius: 14%;
    border: 5px solid purple;
    padding: 10px;
    position: relative;
    left: 21%;
};

.rodape {
    text-align: center;
    background-color: plum;
    padding: 8px 15px;
    border-radius: 10px;
    display: flex;
    width: max-content;
    align-items: left;
    justify-content: center;
    text-decoration: none;
    color: purple;
    margin-top: 5%;
};