h1 {
    background-color: rgb(255, 120, 67);
    text-align: center;
    font-size: 30px;
    color: rgb(56, 15, 15);
}

h2 { 
    text-align: center;
    font-size: 20px;
    color: rgb(88, 21, 21);
}

p {
    color: brown;
}

* {    
    margin: 10px;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    background-color: rgb(255, 187, 132);
    color: rgb(83, 16, 16)
}

img {
    width: 800px;
    height: 550px;
    border-radius: 25px;
    border: 5px solid rgb(232, 121, 18);
    padding: 10px;
    align-items: center;
}

body {
    background-color: blanchedalmond;
}

a {
    display: block;
    text-align: center;
    background-color: rgb(255, 115, 59);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(88, 21, 21);
    padding: 8px 15px;
    border-radius: 20px;
    width: max-content;
    margin: auto;
}

.rodape {
    text-align: center;
    background-color: rgb(255, 120, 67);
    padding: 8px 15px;
    border-radius: 10px;
    display: flex;
    width: max-content;
    align-items: left;
    justify-content: center;
    text-decoration: none;
    color: brown;
    margin-top: 5%;
}