.header{
  display: flex;   
  
}
.navbar{
  align-items: center;
  padding: 1em 5em;
  margin-bottom: 2em;
  color: #FFFF;
  background-color:#77009C;
  font-weight: 100;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo h1{
  margin-left: .7em ;
  font-weight: 100;
}
.link_items{
  display: flex;
  list-style: none;
}
.link_items li{
  display: block;
  margin-right: 2.3em ;
  font-size: 120%;
}
.link_items a{
  color:#FFFF;
  text-decoration: none;
  padding: 5px;
  transition: .4s;
  border-bottom: 2px solid transparent;
}
.link_items a:hover{
  border-color: rgba(255, 255, 255, 0.76);
}
.logo > button{
  display: none;
}
.pageTitle {
  text-align: center;
  font-size: 105%;
  color: #00137D;
}
@media (max-width: 700px){
  .header{
    width: 100% ;
  }
  .navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5em 2em;
  }
  .logo{
    width: 100%;
    justify-content: space-between;
  }
  .logo > button{
    display: block;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .link_items{
    display: flex;
    color: #77009C;
    height: 12vh;
    text-align: center;
    flex-direction: column;
    margin-left: 20%;
} 
  .link_items a:hover{
    transition: transform 0.1s ease-in-out;
    text-shadow: 0 4px 8px #FFF;
    border: 0;
  }
}