.footer {
	padding: 2px;
	text-align: center;
}

h4 {
    font-size: 90%;
}

li {
	display: list-item;
	margin: 5px;
    list-style: none;
    color: #2d4732;
	font-size: 90%;
}

a {
	color: #4b7552;
	text-decoration: none;
}

a:hover {
    text-shadow: 0px 0px 5px #5a9163;
}

