.projetos {
    padding: 40px 4%;
}

h2 {
    text-align: center;
    font-size: 200%;
}

h6 {
    color: gray;
}

span{
    color: rgb(132, 0, 90);
}

.flexbox {
    align-items: center;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: none;
    margin-left: -10%;
}