* {
    padding: 0;
    margin: 0;
}

header {
    height: 100px;
    background-color: #474747;
}

.container-menu {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-menu>li {
    position: relative;
}

.container-menu>li ::after {
    content: '';
    position: absolute;
    top: 10%;
    height: 80%;
    width: 1px;
    background-color: #fff;
    right: -10px;
}


.container-menu>li:last-child ::after {
    display: none;
}

.container-sub-menu {
    position: absolute;
    max-height: 0;
    overflow: hidden;
    left: 10px;
    background-color: #727272;
    border-radius: 5px;
    transition: 0.5s;
    /* Outra forma de esconder o submenu, ele esconde o que passa do limite estabelecido*/
}

.container-menu>li:hover .container-sub-menu { 
    /* Quando passar o mouse nos menus, vai aplicar um estilos nos sub menus */
    max-height: 300px;
    
    /* O máximo que o conteúdo deixa */
}

ul {
    list-style-type: none;
}

a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.link-menu:hover {
    color: #b6acac;
}

.link-sub-menu {
    font-size: 18px;
    color: #b6acac;
    /* display: none;  Existe mais foi removido */
}

div {
    width: 500px;
    height: 200px;
}

.container1 {
    background-color: blue;
}

.container2 {
    background-color: rgb(0, 255, 234);
}

.container3 {
    background-color: rgb(72, 255, 0);
}

@media (max-width:600px){
    .container2 {
        display: none;
    }
}