header{
    padding: 40px 4%;
}

header > .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: black;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: aqua;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none; 
}

header nav li{
    display: inline-block;
    padding: 0 40px;

}

header .contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 700;
    background-color: rgb(185, 252, 252);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .contato button:hover{
    box-shadow: 0px 0px 8px black;
}