*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: gray;
    height: 100vh;
}

h3 {
    color: rgb(132, 0, 90);
    font-weight: bold;
    font-size: 120%;
}

.menu{
    max-width: 1280px;
    margin: 0 auto;
}

.flexbox{
    display: flex;
}

.index{
    padding: 40px 4%;
}

.flexbox{
    align-items: center;
    justify-content: center;
}

h1{
    color: black;
    font-size: 240%;

}

.textoIndex{
    color: black;
}

span {
    color: rgb(132, 0, 90);
}

p{
    margin: 40px 0;
    color: black;
    font-size: 100%;
}

img{
    width: 50%;
    position: relative;
    border-radius: 50%;
    margin-left: 25%;
    border: 15px solid rgb(132, 0, 90);
}