.sobre {
    padding: 40px 4%;
}

.flexbox {
    align-items: center;
    gap: 20px;
}

.imgSobre {
    height: 180%;
    width: 200%;
    margin-right: 15%;
}

.textoSobre {
    color: black;
    margin-left: -20%;
}

h2 {
    font-size: 230%;
    margin-bottom: 30px;
}

span {
    color: rgb(132, 0, 90);
    display: block;
}

p {
    margin: 20px 0;
    text-align: justify;
}

.Voltar:hover{
    text-shadow: 0px 0px 5px rgb(132, 0, 90);
}